.RecentEvents-contenido {

	.RecentEvents-blockTitle {
	}

	.RecentEvents-event {
		width: 100%;
		clear: both;

		.RecentEvents-event-image {
			width: 100%;
			height: 300px;
			display: block;
			background-image: url('http://lorempixel.com/output/animals-q-c-250-250-7.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
		}

		.RecentEvents-event-category {

		}

		.RecentEvents-event-title {

		}
	}
}